.form-item__field {
  display: flex;
  flex-direction: column;
}

.feedback-form__item {
  border: none;
}

.form-item__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.button-wrapper {
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/3;
  }
}

.feedback__form {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 480px 480px;
  }
}

.impression-grid {
  @media (min-width: @tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/3;
  }
}

.attractions-grid {
  @media (min-width: @tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/3;
  }
}

.feedback-comment-grid {
  @media (min-width: @tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/3;
  }
}

.feedback__wrapper {
  @media (min-width: @tablet-width) {
    margin: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 120px;
  }
}
