.intro-background-wrapper.form-wrapper {
  background-image: url("../img/small-intro-background-wrapper-mobile.jpg");
  background-color: #d9e7f2;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.intro-background-wrapper__logo-form {
  padding: 52px 45px 67px;
}

.intro-form-background-subwrapper__title {
  margin: 0;
  padding: 0;
  padding-top: 36px;
  margin-bottom: 24px;
}

.intro-form-background-subwrapper__description {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}
