.intro-background-wrapper.gallery-wrapper {
  background-image: url("../img/small-intro-background-wrapper-mobile.jpg");
  background-color: #d9e7f2;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.intro-background-wrapper__logo-gallery {
  padding: 52px 45px 67px;
}

.intro-gallery-background-subwrapper__title {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  margin-bottom: 24px;
}

.intro-gallery-background-subwrapper__description {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
}
