.intro-background-wrapper {
  background-image: url("../img/big-intro-background-wrapper-mobile.jpg");
  background-color: #d9e7f2;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  height: 389px;

  @media (min-width: @tablet-width) {
    height: 518px;
    background-image: url("../img/big-intro-background-wrapper-tablet.jpg");
  }

  @media (min-width: @desktop-width) {
    height: 518px;
    background-image: url("../img/big-intro-background-wrapper-desktop.jpg");
  }
}

.intro-background-wrapper__logo {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.intro-background-subwrapper {
  @media (min-width: @tablet-width) {
    padding: 15px 100px 36px 100px;
  }

  @media (min-width: @desktop-width) {
    padding: 28px 340px 26px 340px;
  }
}

.intro-background-subwrapper__title {
  margin: 0;
  padding: 0;
  padding-top: 33px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 19px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 19px;
    margin-bottom: 30px;
  }
}

.intro-background-subwrapper__description {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
}

.intro-background-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 57px;
  background-image: url("../img/divider-white-mobile.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    background-image: url("../img/divider-white-tablet.svg");
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/divider-white-desktop.svg");
    bottom: -1px;
  }
}

.intro-background-subwrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 37px;
  background-image: url("../img/divider-blue-mobile.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
