.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery-item {
  margin: 25px 0;
}

.gallery-item__title.title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}

.gallery-item__autor.description {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;
  text-transform: none;
  text-align: left;
}

.gallery-item__like-amount.title {
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}
