.gallery-item__title-video.title {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
  }
}

.gallery-item__description-video.description {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}
